asttokens
backcall
debugpy
decorator
entrypoints
executing
ipykernel
ipython
jedi
jupyter-client
jupyter-core
matplotlib-inline
nest-asyncio
numpy
packaging
pandas
parso
pexpect
pickleshare
plotly
prompt-toolkit
psutil
ptyprocess
PuLP
pure-eval
Pygments
pyparsing
python-dateutil
pytz
pyzmq
six
stack-data
tenacity
tornado
traitlets
wcwidth
